<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <h2>Bienvenue, la liste des potins is coming soon. En attendant, clique sur ce lien pour créer des potins :</h2>
    <a href="/gossips/new">Créer ton potin</a>

    <% gossips.each_with_index do |gossip, index| %>
        <p>
          Potin n°
          <%= index %><br/>
          <%= gossip.author %><br/>
          <%= gossip.content %><br/>
          <a href="/gossip/<%=index%>/">Lien vers le potin</a>
        </p>
      <% end %>
    
  </body>
</html>